{% if __SELF__.carts %}
  {% set carts = __SELF__.carts %}
  {% set total = 0 %}
{% endif %}
{% if  __SELF__.noInvoice %}
    {% set noInvoice = __SELF__.noInvoice %}
{% endif %}
{% if  __SELF__.customers %}
    {% set customers = __SELF__.customers %}
{% endif %}
{% if  __SELF__.customer %}
    {% set customer = __SELF__.customer %}
    {% set disabled = 'disabled' %}
{% endif %}

<div class="mainbody-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-3 text-left">
{% if  __SELF__.opsi == "save" %}
               
{% else %}                
    
            <div class="card">
              <div class="card-body">
        
                <!--Grid row-->
                <div class="row">
        
                  <!--Grid column-->
                  <div class="col-lg-5 mb-4">
                    <!-- Modal -->
                    <div class="modal fade" id="customersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true">
                            <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                              <!--Content-->
                              <div class="modal-content">
                                <!--Header-->
                                <div class="modal-header">
                                  <p class="heading lead"><i class="fas fa-users"></i> Daftar Customer</p>
                        
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">×</span>
                                  </button>
                                </div>
                        
                                <!--Body-->
                                <div class="modal-body">
                                  <div class="container">
        <div class="row">
            <div class="col-md-12 my-3 text-left">

                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                              <tr>
                                <th class="th-sm">Nama
                                </th>
                                <th class="th-sm">Alamat
                                </th>
                                <th class="th-sm">Telepon
                                </th>
                                <th class="th-sm">
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                            {% if customers %}
                                {% for customer in customers %}
                              <tr class="wow fadeIn">
                                <td>{{customer.nama}}</td>
                                <td>{{customer.alamat}}</td>
                                <td>{{customer.telepon}}</td>
                                <td>
                                    <a href="/invoice/customer/{{customer.id}}" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pilih">
                                        Pilih
                                    </a>
                                </td>
                              </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="th-sm">Nama
                                    </th>
                                    <th class="th-sm">Alamat
                                    </th>
                                    <th class="th-sm">Telepon
                                    </th>
                                    <th class="th-sm">
                                    </th>
                                </tr>
                            </tfoot>
                          </table>

            </div>
        </div>
    </div>
                        
                                </div>
                        
                                <!--Footer-->
                                <!-- <div class="modal-footer"> -->
                                  <!-- <a type="button" class="btn btn-info waves-effect waves-light">Get it now
                                    <i class="far fa-gem ml-1"></i>
                                  </a> -->
                                  <!-- <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Tutup</a>
                                </div> -->
                              </div>
                              <!--/.Content-->
                            </div>
                          </div>
                    <h4><i class="fas fa-user"></i> Data Customer</h4>
                    
                    <!-- Pills panels -->
                    <div class="tab-content pt-4">
        
                      <!--Panel 1-->
                      <div class="tab-pane fade in show active" id="tabCheckoutBilling123" role="tabpanel">
        
                        <!--Card content-->
                        <form method="post" action="/invoice/customer/{{customer.id}}" >
                            <input type="hidden" name="customer_id" value="{{customer.id}}">
                          <label for="nama" class="active">Nama</label>
                          <input type="text" class="form-control mb-4 " placeholder="Nama" aria-describedby="basic-addon1" name="nama" value="{{customer.nama}}">
                          <input type="hidden" name="email " class="form-control mb-4" value="{{customer.email}}">
        
                          <!--address-->
                          <label for="address" class="active">Alamat</label>
                          <input type="text" name="alamat" class="form-control mb-4 " placeholder="Alamat" value="{{customer.alamat}}">
        
                          <!--address-2-->
                          <label for="alamat" class="active">No. Telepon</label>
                          <input type="text" name="telepon" class="form-control mb-4 " placeholder="Nomor Telepon" value="{{customer.telepon}}">

                          <!--address-2-->
                          <label for="keterangan" class="active">Keterangan</label>
                          <input type="text" name="keterangan" class="form-control mb-4 " value="{{customer.keterangan}}">
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customersModal">
                                <i class="fas fa-user"></i> Cari Customer
                            </button>
                          <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Simpan
                            </button>
                        </form>
        
                      </div>
                      <!--/.Panel 1-->
        
                      </div>

                  </div>
                  <!--Grid column-->
        
                  <!--Grid column-->
                  <div class="col-lg-7 mb-4">
        
                    <!--Card-->
                    <div class="card mb-4">
        
                      <!--Card content-->
                      <div class="card-body">
                        <h4 class="mb-4 mt-1 h5 text-center font-weight-bold"><i class="fas fa-file-invoice-dollar"></i> Data Pembelian</h4>
                        <div class="container">
                            <div class="row">
                              <div class="col-md-3">NOTA No</div>
                              <div class="col-md-1">:</div>
                              <div class="col-md-8">{{ noInvoice }}</div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                              <div class="col-md-3">Tanggal</div>
                              <div class="col-md-1">:</div>
                              <div class="col-md-8">{{ __SELF__.tanggal|date("d F Y h:i") }}</div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                              <div class="col-md-3">Kasir</div>
                              <div class="col-md-1">:</div>
                              <div class="col-md-8">{{ __SELF__.user.name }}</div>
                            </div>
                        </div>
                        
                    {% if carts %}
                        {% for cart in carts %}
                        {% if (cart.catalog.inventory.aktual >= cart.jumlah) %}
                            {% set jumlah = cart.catalog.harga*cart.jumlah %}
                            {% set total = total + jumlah %}
                            <hr>
            
                            <dl class="row">
                            <dd class="col-sm-8">
                                {{loop.index }}.    {{cart.catalog.nama}} {{cart.catalog.keterangan}} ({{cart.jumlah}} {{cart.catalog.ukuran}})
                            </dd>
                            
                              <dd class="col-sm-4">
                                    <strong>Rp {{jumlah|number_format(0, ',', '.')}}</strong>
                              </dd>
                            </dl>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
        
                        <hr>
        
                        <dl class="row">
                          <dt class="col-sm-8">
                            Total
                          </dt>
                          <dt class="col-sm-4">
                            <strong>Rp {{total|number_format(0, ',', '.')}}</strong>
                          </dt>
                        </dl>
                      </div>
        
                    </div>
                    <!--/.Card-->
                    <a class="btn btn-green btn-lg btn-block waves-effect waves-light" href="/penjualan">
                        <i class="fas fa-cart-plus"></i> Tambah Barang
                    </a>
                    {% if customer.nama != null %}
                    <a class="btn btn-primary btn-lg btn-block waves-effect waves-light" href="/invoice/save/{{customer.id}}">
                        <i class="fas fa-cash-register"></i> Selesai
                    </a>
                    {% endif %}
        
                  </div>
                  <!--Grid column-->
        
                </div>
                <!--Grid row-->
        
              </div>
            </div>
        
{% endif %}
    </div>
    </div>
    </div>
    </div>