{% if __SELF__.sales %}
  {% set sales = __SELF__.sales %}
{% endif %}

{% if __SELF__.sale %}
  {% set sale = __SELF__.sale %}
{% endif %}

<div class="mainbody-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-3 text-left">
                {% if sales %}
                {% put scripts %}
                    <script>
                    $(document).ready(function () {
                        $('#dtBasicExample').DataTable();
                        $('.dataTables_length').addClass('bs-select');
                    });
                    </script>
                {% endput %}
                {% put styles %}
                <style>
                    table.dataTable thead .sorting:after,
                    table.dataTable thead .sorting:before,
                    table.dataTable thead .sorting_asc:after,
                    table.dataTable thead .sorting_asc:before,
                    table.dataTable thead .sorting_asc_disabled:after,
                    table.dataTable thead .sorting_asc_disabled:before,
                    table.dataTable thead .sorting_desc:after,
                    table.dataTable thead .sorting_desc:before,
                    table.dataTable thead .sorting_desc_disabled:after,
                    table.dataTable thead .sorting_desc_disabled:before {
                    bottom: .5em;
                    }
                </style>
                {% endput %}
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th class="th-sm">No. Faktur
                        </th>
                        <th class="th-sm">Nama Customer
                        </th>
                        <th class="th-sm">Total Belanja
                        </th>
                        <th class="th-sm">Keterangan
                        </th>
                        <th class="th-sm">Tanggal Pembelian
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                   
                        {% for sale in sales %}
                        <tr>
                            <td><a href="/mysales/{{sale.no_faktur}}">{{sale.no_faktur}}</a></td>
                            <td>{{sale.customer.nama}}</td>
                            <td>Rp. {{sale.total|number_format(0, ',', '.')}}</td>
                            <td>{{sale.keterangan}}</td>
                            <td>{{sale.created_at|date("d F Y h:i")}}</td>
                          </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
                {% endif %}
                {% if sale %}
                    <div>
                        <div class="card">
                            <div class="card-body">
                      
                              <!--Grid row-->
                              <div class="row">
                      
                                <!--Grid column-->
                                <div class="col-lg-5 mb-4">
                                  
                                  <h4><i class="fas fa-user"></i> Data Customer</h4>
                                  
                                  <!-- Pills panels -->
                                  <div class="tab-content pt-4">
                      
                                    <!--Panel 1-->
                                    <div class="tab-pane fade in show active" role="tabpanel">
                      
                                      <!--Card content-->
                                        <label for="nama" class="active">Nama</label>
                                        <input type="text" class="form-control mb-4 " placeholder="Nama" aria-describedby="basic-addon1" name="nama" value="{{sale.customer.nama}}">
                      
                                        <!--address-->
                                        <label for="address" class="active">Alamat</label>
                                        <input type="text" name="alamat" class="form-control mb-4 " placeholder="Alamat" value="{{sale.customer.alamat}}">
                      
                                        <!--address-2-->
                                        <label for="alamat" class="active">No. Telepon</label>
                                        <input type="text" name="telepon" class="form-control mb-4 " placeholder="Nomor Telepon" value="{{sale.customer.telepon}}">
              
                                        <!--address-2-->
                                        <label for="keterangan" class="active">Keterangan</label>
                                        <input type="text" name="keterangan" class="form-control mb-4 " value="{{sale.customer.keterangan}}">
                                    
                      
                                    </div>
                                    <!--/.Panel 1-->
                      
                                    </div>
              
                                </div>
                                <!--Grid column-->
                      
                                <!--Grid column-->
                                <div class="col-lg-7 mb-4">
                      
                                  <!--Card-->
                                  <div class="card mb-4">
                      
                                    <!--Card content-->
                                    <div class="card-body">
                                      <h4 class="mb-4 mt-1 h5 text-center font-weight-bold"><i class="fas fa-file-invoice-dollar"></i> Data Pembelian</h4>
                                      <div class="container">
                                          <div class="row">
                                            <div class="col-md-3">No. Faktur</div>
                                            <div class="col-md-1">:</div>
                                            <div class="col-md-8">{{ sale.no_faktur }}</div>
                                          </div>
                                      </div>
                                      <div class="container">
                                          <div class="row">
                                            <div class="col-md-3">Tanggal</div>
                                            <div class="col-md-1">:</div>
                                            <div class="col-md-8">{{ sale.created_at|date("d F Y h:i") }}</div>
                                          </div>
                                      </div>
                                      <div class="container">
                                          <div class="row">
                                            <div class="col-md-3">Kasir</div>
                                            <div class="col-md-1">:</div>
                                            <div class="col-md-8">{{ sale.user.name }}</div>
                                          </div>
                                      </div>

                                      {% for jualproduk in sale.penjualanproduk %}
    
                                          <hr>
                          
                                          <dl class="row">
                                          <dd class="col-sm-8">
                                              {{loop.index }}.    {{jualproduk.catalog.nama}} {{jualproduk.catalog.keterangan}} ({{jualproduk.jumlah}} {{jualproduk.catalog.ukuran}})
                                          </dd>
                                          
                                            <dd class="col-sm-4">
                                                  <strong>Rp {{jualproduk.total|number_format(0, ',', '.')}}</strong>
                                            </dd>
                                          </dl>
                                      
                                        {% endfor %}
                                      <hr>
                      
                                      <dl class="row">
                                        <dt class="col-sm-8">
                                          Total
                                        </dt>
                                        <dt class="col-sm-4">
                                          <strong>Rp {{sale.total|number_format(0, ',', '.')}}</strong>
                                        </dt>
                                      </dl>
                                    </div>
                      
                                  </div>
                                  
                                  <a class="btn btn-primary btn-lg btn-block waves-effect waves-light" href="/mysales/">
                                      <i class="fas fa-cash-register"></i> Kembali
                                  </a>
                      
                                </div>
                                <!--Grid column-->
                      
                              </div>
                              <!--Grid row-->
                      
                            </div>
                          </div>
                    </div>
                {% endif %}
            </div>        
        </div>            
    </div>
</div>

