{% if __SELF__.carts %}
  {% set carts = __SELF__.carts %}
  {% set total = 0 %}
{% endif %}

{% if carts %}
<!-- Start Main Body Section -->
<div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 my-3 text-left">
        
            <div class="card">
                <div class="card-body">
    
                    <!-- Shopping Cart table -->
                    <div class="table-responsive">
    
                        <table class="table product-table">
    
                            <!-- Table head -->
                            <thead class="mdb-color lighten-5">
                                <tr>
                                    <th class="font-weight-bold"><strong>Kode Barang</strong></th>
                                    <th class="font-weight-bold"><strong>Nama</strong></th>
                                    <th class="font-weight-bold"><strong>Merk</strong></th>
                                    <th></th>
                                    <th class="font-weight-bold"><strong>Harga Satuan</strong></th>
                                    <th class="font-weight-bold"><strong>Jumlah</strong></th>
                                    <th class="font-weight-bold"><strong>Harga</strong></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <!-- /.Table head -->
    
                            <!-- Table body -->
                            <tbody>
    
                            
                                {% for cart in carts %}
                                {% if (cart.catalog.inventory.aktual >= cart.jumlah) %}
                                    {% set jumlahAktual = cart.jumlah %}
                                {% else %}
                                    {% set jumlahAktual = cart.catalog.inventory.aktual %}
                                {% endif %}
                                {% set jumlah = cart.catalog.harga*jumlahAktual %}
                                {% set total = total + jumlah %}
                                <tr>
                                    <th scope="row">
                                        {{cart.catalog.kode}}
                                    </th>
                                    <td>
                                        <h6>
                                            {{cart.catalog.nama}}
                                        </h6>
                                        <p class="text-muted">{{cart.catalog.keterangan}}</p>
                                    </td>
                                    <td>{{cart.catalog.brand.nama}}</td>
                                    <td></td>
                                    <td>Rp {{cart.catalog.harga|number_format(0, ',', '.')}} </td>
                                    <td>
                                        {{jumlahAktual}} {{cart.catalog.ukuran}}
                                    </td>
                                    <td class="font-weight-bold">
                                        <strong>Rp {{jumlah|number_format(0, ',', '.')}}</strong>
                                    </td>
                                    <td>
                                        {% if jumlahAktual < cart.catalog.inventory.aktual %}
                                        <a href='/penjualan/add/{{cart.catalog_id}}' class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add item"><i class="fas fa-plus"></i>
                                        </a>
                                        {% endif %}
                                        {% if jumlahAktual > 0 %}
                                        <a href='/penjualan/remove/{{cart.catalog_id}}' class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item"><i class="fas fa-minus"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            
    
                                <!-- Fourth row -->
                                <tr>
                                    <td colspan="3"></td>
                                    <td>
                                        <h4 class="mt-2">
                                            <strong>Total</strong>
                                        </h4>
                                    </td>
                                    <td class="text-right">
                                        <h4 class="mt-2">
                                            <strong>Rp {{total|number_format(0, ',', '.')}}</strong>
                                        </h4>
                                    </td>
                                    <td colspan="3" class="text-right">
                                        {% if total > 0 %}
                                        <a href="/invoice/" class="btn btn-primary btn-rounded waves-effect waves-light">
                                            <i class="fas fa-cart-arrow-down"></i> 
                                            Selesaikan Penjualan
                                            <i class="fas fa-angle-right right"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <!-- Fourth row -->
    
                            </tbody>
                            <!-- /.Table body -->
    
                        </table>
    
                    </div>
                    <!-- /.Shopping Cart table -->
    
                </div>
    
            </div>
        
            </div>
        </div>
    </div>
</div>
{% endif %}