{% if  __SELF__.invoice %}
    {% set invoice = __SELF__.invoice %}
    {% set total = 0 %}
{% endif %}

<div class="mainbody-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-3 text-left">
                <!--Grid column-->
                <div class="col-lg-12 mb-4">
        
                        <!--Card-->
                        <div class="card mb-4" id="myInvoice">
            
                          <!--Card content-->
                          
                          <div class="card-header text-center">
                            <h6 class="mb-4 mt-1 font-weight-bold">Nota Pembelian</h5>
                            <h4>TOKO ALAT KESEHATAN</h4>
                            <h3>UD. JOSUA MEDIKA</h3>
                            <h6>JL. RE. Martadina, Nabarua, Nabire - Papua</h6>
                          </div>
                            <div class="card-body">
                            <div class="container">
                                <div class="row">
                                  <div class="col-md-3">NOTA No</div>
                                  <div class="col-md-1">:</div>
                                  <div class="col-md-8 font-weight-bold">{{ invoice.no_faktur }}</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                  <div class="col-md-3">Tanggal</div>
                                  <div class="col-md-1">:</div>
                                  <div class="col-md-8">{{ __SELF__.tanggal|date("d F Y h:i") }}</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                  <div class="col-md-3">Kasir</div>
                                  <div class="col-md-1">:</div>
                                  <div class="col-md-8">{{ __SELF__.user.name }}</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                  <div class="col-md-3">Customer</div>
                                  <div class="col-md-1">:</div>
                                  <div class="col-md-8">{{ invoice.customer.nama }}</div>
                                </div>
                            </div>
                            
                        {% if invoice %}
                            <!-- <div class="h6 pt-4 font-weight-bold">Daftar Barang:</div> -->
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Nama Barang</th>
                                    <th scope="col">QTY</th>
                                    <th scope="col">Harga Satuan</th>
                                    <th scope="col">Jumlah</th>
                                  </tr>
                                </thead>
                                <tbody>
                                
                            {% for produk in invoice.penjualanproduk %}
                                {% set total = total + produk.total %}
                                <tr>
                                  <th scope="row">{{loop.index}}.</th>
                                  <td>{{produk.catalog.nama}} {{produk.catalog.keterangan}}</td>
                                  <td>{{produk.jumlah}} {{produk.catalog.ukuran}}</td>
                                  <td>Rp {{produk.catalog.harga|number_format(0, ',', '.')}}</td>
                                  <td><strong>Rp {{produk.total|number_format(0, ',', '.')}}</strong></td>
                                </tr>
                
                            {% endfor %}
                                <tr>
                                  <td colspan="3"></td>
                                  <td class="font-weight-bold">Total :</td>
                                  <td class="font-weight-bold">Rp {{total|number_format(0, ',', '.')}}</strong></td>
                                </tr>
                              </tbody>
                            </table>
                        {% endif %}
            
                          </div>
                          <div class="container text-center pb-5">
                              <div class="row pb-12 ml-4">
                                Note: *Barang yang sudah dibeli tidak dapat dikembalikan
                              </div>
                          </div>
                          <div class="container text-center pb-5">
                              <div class="row pb-5">
                                <div class="col-md-6">
                                  Diterima,
                                </div>
                                <div class="col-md-6">
                                  Hormat,
                                </div>
                              </div>
                          </div>
            
                        </div>

                        <!--/.Card-->
                        <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <a class="btn btn-green btn-lg btn-block waves-effect waves-light" href="#" onclick="printContent('myInvoice')"><i class="fas fa-print"></i> Cetak</a>
                              </div>
                              <div class="col-md-6"><a class="btn btn-primary btn-lg btn-block waves-effect waves-light" href="/penjualan"><i class="far fa-window-close"></i> Tutup</a></div>
                            </div>
                        </div>
                        
                        
            
                      </div>
                      <!--Grid column-->

    </div>
    </div>
    </div>
    </div>

  <script>
    function printContent(el){
      var restorepage = $('body').html();
      var printcontent = $('#' + el).clone();
      $('body').empty().html(printcontent);
      window.print();
      $('body').html(restorepage);
    }
  </script>