<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <p class="h4 mb-4">Laporan Transaksi <?= $bulan ?> <?= ($tahun != '0') ? $tahun : ''; ?></p>
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="th-sm">No Faktur
                    </th>
                    <th class="th-sm">Customer
                    </th>
                    <th class="th-sm">Kasir
                    </th>
                    <th class="th-sm">Total Penjualan
                    </th>
                    <th class="th-sm">Keterangan
                    </th>
                    <th class="th-sm">Tanggal
                    </th>
                  </tr>
                </thead>
                <tbody>
            <?php
                foreach($penjualans as $penjualan){
                    ?>
                          <tr>
                            <td><a href='/backend/medika/joshua/penjualan/preview/<?= $penjualan->id ?>'><?= $penjualan->no_faktur ?></a></td>
                            <td><?= $penjualan->customer->nama ?></td>
                            <td><?= $penjualan->user->name ?></td>
                            <td><?= $penjualan->total ?></td>
                            <td><?= $penjualan->keterangan ?></td>
                            <td><?= $penjualan->created_at ?></td>
                          </tr>
                    <?php
                }
            ?>
            </tbody>
            <tfoot>
                <tr>
                    <th class="th-sm">No Faktur
                    </th>
                    <th class="th-sm">Customer
                    </th>
                    <th class="th-sm">Kasir
                    </th>
                    <th class="th-sm">Total Penjualan
                    </th>
                    <th class="th-sm">Keterangan
                    </th>
                    <th class="th-sm">Tanggal
                    </th>
                </tr>
              </tfoot>
            </table>
        </div>
    </div>
</div>