
<div class="container">
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-12 col-md-4">
            <p class="h4 mb-4">Laporan Transaksi</p>
        </div>
    </div>
    <div class="row">
        <form class="text-center border border-light p-5" data-request="onCariTransaksi" data-request-update="laporan: '#divlaporan'">
      <div class="col-3 col-md-3">
        <label class="mdb-main-label">Pilih Bulan</label>
        <select class="browser-default custom-select custom-select-lg mb-3" name="bulan">
            <option selected value="0">Semua</option>
            <option value="1">Januari</option>
            <option value="2">Februari</option>
            <option value="3">Maret</option>
            <option value="4">April</option>
            <option value="5">Mei</option>
            <option value="6">Juni</option>
            <option value="7">Juli</option>
            <option value="8">Agustus</option>
            <option value="9">September</option>
            <option value="10">Oktober</option>
            <option value="11">November</option>
            <option value="12">Desember</option>
          </select>
          
      </div>
      <div class="col-3 col-md-3">
        <label class="mdb-main-label">Pilih Tahun</label>
              <select class="browser-default custom-select custom-select-lg mb-3" name="tahun">
                <option selected value="0">Semua</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2022">2023</option>
              </select>
      </div>
      <div class="col-3 col-md-3">
        <label class="mdb-main-label">Pilih Kasir</label>
        <select class="browser-default custom-select custom-select-lg mb-3" name="kasir">
            <option selected value="0">Semua</option>
              <?php foreach($kasirs as $kasir){
                echo '<option value="'.$kasir->id.'">'.$kasir->name.'</option>';
              }
              ?>
          </select>
        
      </div>
      <div class="col-3 col-md-3">
        <button class="btn btn-info btn-block text-center" style="text-align: center;" type="submit">Cari</button>
    </div>
    </form>
    </div>
    <div class="row">
        <div class="col12 col-md-12">
            <div id="divlaporan">

            </div>
        </div>
    </div>
  </div>
