description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
    {% partial "meta" %}


<body>
        {% partial "menu" %}
        
        <!-- Start Logo Section -->
        <section id="logo-section" class="text-center pt-4 mb-5">
            {% page %}
        </section>
        <!-- End Logo Section -->

        <!-- Footer -->
        <footer class="page-footer font-small blue fixed-bottom">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> UD Josua Medika</a>
            </div>
            <!-- Copyright -->
        
        </footer>
        <!-- Footer -->

 <!-- Template js -->    
    <script type="text/javascript" src="{{ 'assets/js/jquery-2.1.1.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/popper.min.js'|theme }}"></script>  
    <script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.appear.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jqBootstrapValidation.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/modernizr.custom.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/mdb.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/datatables.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/datatables-select.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/script.js'|theme }}"></script>  
    
    {% framework extras %}
    {% scripts %}

</body>
</html>