description = "Halaman Login"
==
<!DOCTYPE html>
<html lang="en">
    {% partial "meta" %}
<body>

        <!-- Start Logo Section -->
        <section id="logo-section" class="text-center">
            {% page %}
        </section>
        <!-- End Logo Section -->

        

        <!-- Start Copyright Section -->
        <div class="copyright text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% partial "footer" %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Section -->

 <!-- Template js -->    
    <script type="text/javascript" src="{{ 'assets/js/jquery-2.1.1.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.appear.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jqBootstrapValidation.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/modernizr.custom.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/script.js'|theme }}"></script>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->    
    {% framework extras %}
    {% scripts %}

</body>
</html>