<div class="mainbody-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-3 text-left">

                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                              <tr>
                                <th class="th-sm">Kode barang
                                </th>
                                <th class="th-sm">Nama Barang
                                </th>
                                <th class="th-sm">Merk
                                </th>
                                <th class="th-sm">Satuan
                                </th>
                                <th class="th-sm">Harga
                                </th>
                                <th class="th-sm">
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>AL-JRM-001</td>
                                <td>ABOCATH 20 G</td>
                                <td>ROMSON</td>
                                <td>PCS</td>
                                <td>Rp 25.000,-</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">
                                            <i class="fas fa-cash-register"></i>
                                    </button>
                                </td>
                              </tr>
                              
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="th-sm">Kode barang
                                    </th>
                                    <th class="th-sm">Nama Barang
                                    </th>
                                    <th class="th-sm">Merk
                                    </th>
                                    <th class="th-sm">Satuan
                                    </th>
                                    <th class="th-sm">Harga
                                    </th>
                                    <th class="th-sm">
                                    </th>
                                </tr>
                            </tfoot>
                          </table>

            </div>
        </div>
    </div>
</div>