[viewBag]
==
<div class="container">
                    <div class="row text-center" style="padding-top: 5px;"></div>
                        <div class="section-title text-center">
                            <h3>Selamat Datang</h3>
                            <p>Silahkan masukkan email dan password untuk masuk ke dalam sistem</p>
                        </div>
                        <form name="login" id="loginForm" data-request="onSignin" validate>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" id="email" name="login" required data-validation-required-message="Masukkan email">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" id="password" name="password" required data-validation-required-message="Masukkan Password">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                {% flash %}
                                    <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
                                {% endflash %}

                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-primary">Log In</button>
                                </div>
                                <div class="ui error message"></div>
                        </form>
                    </div>
                </div>