[viewBag]
==
<!--Navbar -->
<nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-dark info-color">
        <a class="navbar-brand" href="/">Josua Medika</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
          aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/penjualan">Transaksi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mysales">Penjualanku</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar">
                {% if user %}
                    Hallo {{ user.name }} <a class="nav-link p-0" data-request="onLogout" data-request-data="redirect: '/login'">(Log out)</a>
                {% endif %}
                
            </li>
          </ul>
        </div>
      </nav>
      <!--/.Navbar -->