[viewBag]
==
<head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="keywords" content="{{ this.page.meta_keywords }}">
        <meta name="author" content="{{ this.page.meta_author }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ this.theme.site_name }}</title>
        
        <link href="{{ [
                'assets/css/bootstrap.min.css',
                'assets/css/all.min.css',
                'assets/css/animate.css',
                'assets/css/animations-extended.css',
                'assets/css/mdb.min.css',
                'assets/css/style.css',
		      ]|theme }}" rel="stylesheet">

    </head>