description = "Login Layout"

[staticPage]
useContent = 0
default = 0
==
{% partial 'site/head' %}
{% partial 'site/nav' %}

{variable name="featuredTitle" label="Title" tab="Featured Image" type="text"}{/variable}
{variable name="featuredText" label="Intro Text" tab="Featured Image" type="text"}{/variable}
{variable name="useBtn" label="Use Button" tab="Featured Image" type="switch"}{/variable}
{variable name="btnText" label="Button Text" tab="Featured Image" type="text"}{/variable}
{variable name="btnLink" label="Button Link" tab="Featured Image" type="text"}{/variable}
{variable name="featuredImage" label="Featured Image" tab="Featured Image" type="mediafinder" mode="image"}{/variable}
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <h2 class="h2-responsive text-center">{{ this.page.title }}</h2>
            <hr>
        </div>
    </div>

    <div class="row mb-5 wow fadeIn" data-wow-delay="0.4s">
        <div class="col-md-12">
            <div class="card card-image"
                 style="background-image: url({% if featuredImage %}{{ featuredImage|media }}{% else %}'https://mdbootstrap.com/img/Photos/Others/gradient1.jpg'{% endif %});">
                <div class="text-white text-center d-flex align-items-center py-5 px-4 my-5">
                    <div>
                        <h1 class="card-title pt-2 mb-4 font-bold"><strong>{{ featuredTitle }}</strong></h1>
                        <p class="mx-5 mb-5">{{ featuredText }}</p>
                        {% if useBtn %}
                            <a href="{{ btnLink }}" class="btn btn-outline-white btn-rounded"><i class="fa fa-clone left"></i> {{ btnText }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% partial 'site/footer' %}