title = "Home"
url = "/"
layout = "default"
description = "Home Page"
meta_description = "Free, responsive, Bootstrap 3 enabled one page theme for multiple purposes, inspired by the Metro UI"
is_hidden = 0

[session]
security = "user"
redirect = "login"

==

    <!-- Start Main Body Section -->
    <div class="mainbody-section text-center">
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-3">
                </div>
                
                <div class="col-md-6">
                    
                    <!-- Start Carousel Section -->
                    
                    <!-- Start Carousel Section -->
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="menu-item color responsive">
                                <a href="/penjualan">
                                    <i class="fas fa-shopping-cart"></i>
                                    <p>Penjualan</p>
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-md-6 disabled">
                            <div class="menu-item light-blue responsive-2">
                                <a href="#">
                                    <i class="fas fa-cash-register"></i>
                                    <p>Barang Masuk</p>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
                
            </div>
        </div>
    </div>
        <!-- End Main Body Section -->