title = "Sign In"
url = "/login"
layout = "login"
description = "Login Page"
is_hidden = 0

[account]
redirect = "/"
paramCode = "code"
forceSecure = 0
==
<div class="mainbody-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Josua Medika</h1>
                <span>Toko Alat Kesehatan</span>
            </div>
        </div>
    </div>
</div>

<!-- Start Main Body Section -->
<div class="mainbody-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% partial "login" %}
            </div>
        </div>
    </div>
</div>