{% if __SELF__.products %}
  {% set products = __SELF__.products %}
{% endif %}
<div class="mainbody-section text-center">

    <div class="container">

    <!--Toolbar-->
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
      
            <form class="form-inline" method='post' action='/penjualan/search/'>
                <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" name="query" placeholder="Nama Barang" aria-label="Nama Barang">
                </div>
                <div class="md-form my-0">
                    <button type="submit" class="btn btn-sm btn-green waves-effect waves-light">Cari</button>
                </div>
            </form>
        </div>
        <!-- Collapsible content -->
    </nav>

    <!--Section: Products v.3-->
    <section class="text-center mb-4">
        {% if products %}
        {% for product in products %}
        {% if loop.first %}
            <div class="row wow fadeIn ">
        {% endif %}
        
            <div class="col">
            <div class="card">

                <!--Card image-->
                <div class="view overlay">
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Card image-->
    
                <!--Card content-->
                <div class="card-body text-center">
                    <!--Category & Title-->
                    <a href="" class="grey-text">
                    <h5>{{product.kode}}</h5>
                    </a>
                    <h5>
                    <strong>
                        <a href="" class="dark-grey-text">{{product.nama}}</a>
                    </strong>
                    </h5>
                    <span>{{product.keterangan}}</span><br/>
                    <span class="badge badge-pill danger-color">{{product.brand.nama}}</span>
                    <h4 class="font-weight-bold blue-text">
                        <strong>Rp {{product.harga|number_format(0, ',', '.') }}</strong>
                    </h4>
                    <h5 class="font-weight-bold green-text">Stok: {{product.inventory.aktual}} {{product.ukuran}}</h5>
                    {% if product.inventory.aktual > 0 %}
                    <a href='/penjualan/add/{{product.id}}#myCart' class="btn btn-sm btn-primary waves-effect waves-light">
                        <i class="fas fa-cart-plus"></i> TAMBAH
                    </a>
                    {% else %}
                    <button disabled class="btn btn-sm btn-red waves-effect waves-light">
                            <i class="fas fa-cart-plus"></i> Kosong
                    </button>
                    {% endif %}
                </div>
                <!--Card content-->
    
            </div>
            <!--Card-->
            </div>

            {% if loop.index % 3 == 0 %}
                <div class="w-100 mb-4"></div>
            {% endif %}
            
        {% if loop.last %}
            </div> 
        {% endif %}
        {% endfor %}
        {{ products.render|raw }}
        {% endif %}
    </section>

    </div>

    
</div>